@use "./mixins" as *;

.state {
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);

  @include respond-sm {
    padding: 12px;
    font-size: 15px;
  }

  @include respond-xs {
    padding: 12px;
    font-size: 14px;
  }
}
