@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

html {
  font-family: "Playfair Display", Georgia, serif;
}

body {
  margin: 0;

  .container {
    width: 1500px;
    margin: 0 auto;
  }

  .navLink {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
